body {
	font-size: small; /* 新的属性值，请自行了解 */
	font-family: Verdana，Helvetica， Arial;
  line-height: 1.6em;
  margin: 0%;
  padding: 0%;
}

h1, h2 {
	color: #007e7e; /* 将标题设置为一种青绿色，使他和 logo 更相合 */

}

h1 {
	font-size: 1.5em;
}

.elixirs h2 {
	font-size: 1.3em;
  color: black;
}
.elixirs h3 {
  color: #d12c47;
}


.guarantee {
  border-color:        white;
  border-width:        1px;
  border-style:        dashed;
  background-color:    #a7cece;
  padding:             25px;
  margin:              30px;
  line-height: 1.9em;
  font-style: italic;
  color: #444444;
  font-family: Georgia, "Times New Roman";
  background-image: url(images/background.gif);
  background-repeat: no-repeat;
  background-position: top left;
  padding: 25px;
  padding-left: 80px;
  margin-right: 250px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
}

.elixirs 
{
  border-width: thin;
	border-style: solid;
	border-color: #007e7e;
  width: 200px; 
  padding-right:   20px;
	padding-bottom:20px;
	padding-left:20px;
	margin-left:20px;
  background-image:url(images/cocktail.gif);
	background-repeat:repeat-x;
	text-align:center;
  line-height: 1em;
}


.cd {
	font-style: italic;
}
.artist {
	font-weight: bold;
}


.elixirs a:link {    /* 链接未访问时的样式 */
	color: #007e7e;
  text-decoration: none; /* 去掉链接下划线 */
}
.elixirs a:visited {  /* 链接已访问时的样式 */
	color: #333333;
  text-decoration: none; /* 去掉链接下划线 */
}
.elixirs a:hover { /* 鼠标悬停时的样式 */
	background: #f88396;
	color: #0d5353;
  text-decoration: none; /* 去掉链接下划线 */
}

.directions a:link {    /* 链接未访问时的样式 */
	color: #007e7e;
  text-decoration: none; /* 去掉链接下划线 */
}