body {
  font-family: Verdana, Geneva, Arial;
}
html {
  font-size: 12px; /* 指定 html 元素的字体大小为 12 像素 */
}

h1 {
  font-size: 2.2em; /* h1 字体大小是 html 元素的 2.2 倍 */
  color: #CC6600;
  border-bottom: thin dotted #888888;
}

h2 {
  font-size: 1.3em; /* h2 字体大小是 html 元素的 1.3 倍 */
  width: auto; /*设置 h2 元素宽度为自动，即使用默认宽度表现 */
  color: #CC6600;
  border-bottom: thin dotted #888888;
}
blockquote {
  font-style: italic; /* 将 blockquote 元素的字体风格设置为斜体 */
}
